  {% extends 'base.html' %}


 {% block content %}
  <style>
      body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
  </style>

    <h1 style="color:grey">Subscription Details</h1>
    <div class="border" style="border-radius:5px;   padding:15px ; background-color:white">


        <table>

  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Subscription</th>
      <th scope="col">Interval</th>
      <th scope="col">Price</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Account">{{product_path}}</td>
      <td data-label="Due Date">{{status}}</td>
      <td data-label="Amount">{{interval}}</td>
      <td data-label="Period">{{price}}</td>
      <td data-label="Period">{{result}}</td>
    </tr>

  </tbody>
</table>

    </div>

 <div class="border" style="border-radius:5px;   padding:15px ; background-color:white">
{{subscription}}

 </div>

 <a class="btn btn-primary" href='#' data-fsc-action="Add,Checkout" data-fsc-item-path-value="{{product_path}}">Checkout</a>


 {% endblock %}